Language: Cpp
BasedOnStyle: Google

# Indentation and Tabs
IndentWidth: 4
TabWidth: 4
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: Yes
FixNamespaceComments: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: Never
AccessModifierOffset: -4
ColumnLimit: 120

# Brace Wrapping
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false